@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --primary: #b71c1c;

    // Default layout
    --default-layout-header-height: 66px;
    --default-layout-width: 1142px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alata', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    // background-color: #263238;
}
