.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: #0f1416;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--default-layout-width);
}

.logo {
    width: 105px;
    height: 35px;
    cursor: pointer;
    margin-right: 26px;
}

.nav {
    flex: 1;
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style-type: none;
}

.nav-link {
    position: relative;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
    padding: 16px 8px;

    &.active::after {
        content: '';
        position: absolute;
        width: 64%;
        bottom: 0;
        left: 17px;
        right: 0;
        border-bottom: 3px solid #b5e745;
    }
}

.down-icon {
    color: #b5e745;
    font-size: 12px;
    margin-left: 6px;
}

// Search css
.search,
.search-result {
    width: 230px;
}

.search {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #0b0e0f;
    border: 1px solid;
    border-color: #263238;
    border-radius: 3px;
    margin-right: 10px;
}

.search-result {
    margin-top: -4px;
    background: #263238;
}

.search-btn {
    padding: 12px 14px;
    cursor: pointer;
}

.search-btn,
.search-input {
    color: var(--white);
    background-color: transparent;
}

.search-input {
    width: 100%;
    font-weight: 500;
    padding: 12px 0;

    &:focus::-webkit-input-placeholder {
        opacity: 1;
        transition: 0.3s;
    }

    &:focus::-moz-placeholder {
        opacity: 1;
        transition: 0.3s;
    }

    &:focus:-ms-input-placeholder {
        opacity: 1;
        transition: 0.3s;
    }
}

.search-list {
    list-style-type: none;
}

// User login
.action {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.bell {
    color: var(--white);
    background-color: #bbb;
    border-radius: 5px;
    padding: 7px 8px;
    font-size: 1.2rem;
    margin-top: 12px;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 2px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 4px;
}

.down {
    color: var(--white);
    font-size: 1rem;
}

.notify {
    width: 400px;
    max-height: 320px;
    text-align: center;
    padding: 4px 0;
    border-radius: 5px;
    background-color: var(--white);
    animation: opacity ease-out 0.5s;

    span {
        font-size: 1.3rem;
        font-weight: 300;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
